name: Build and deploy GoMun API to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      PORT: 8080
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DEFAULT_USER_ID: couple

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Setup Node
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        working-directory: ./apps/api
        run: npm install

      # 4️⃣ Generate Prisma client
      - name: Generate Prisma client
        working-directory: ./apps/api
        run: npx prisma generate
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

      # 5️⃣ Build the API (crea dist/index.js)
      - name: Build API
        working-directory: ./apps/api
        run: npm run build

      # 6️⃣ Login to Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BD7CA65BF42042D9AFB70E5013EAC38F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_F1FFEB9DDAA548CC83912C82E2C7B11A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_38BF7E9C6B6F4B2081055BB5033C6725 }}
      - name: Install production dependencies in Azure
        run: |
          cd apps/api
          npm install --omit=dev          
      # 7️⃣ Set startup command in Azure
      - name: Set startup command
        run: |
          az webapp config set \
            --name gomun \
            --resource-group gomun \
            --startup-file "node dist/index.js"

      # 8️⃣ Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'gomun'
          slot-name: 'Production'
          package: ./apps/api
